.cabecalho{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    color: whitesmoke;
    background-image: linear-gradient(90deg, #ff00c8 0%, #00d9ff 100%);
    box-shadow: 5px 5px 5px rgb(0, 255, 255);
    padding: auto;
}
.note{
    font-size: 15px;
    color: black;
}
.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:#1e00ff;
    line-height: bold;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
